.Wrap{
    width: 100%;
    height: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.Dom{
    width: 340px;
    position: relative;
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 0px;
    border: 0px solid rgba( 255, 255, 255, 0.18 );
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}